<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/edkura"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/edkura"
        android:supportsRtl="true"
        android:theme="@style/Theme.EdKura"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- MainActivity -->
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.SignupActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".Jiankai.ProfileActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:exported="true">
        </activity>

        <!-- DashboardActivity -->
        <activity
            android:name=".Jiankai.classManagement"
            android:exported="true">
        </activity>
        <!-- LoginActivity -->
        <activity
            android:name=".Narciso.CourseDetailActivity"
            android:exported="false">
        </activity>
        <!-- Student Partner Matching -->
        <activity
            android:name=".Rao.spmatching"
            android:exported="false">
        </activity>

        <!-- Chat -->
        <activity
                android:name=".chat.ChatActivity"
                android:exported="false">
        </activity>
        <activity
            android:name=".chat.AllChatsActivity"
            android:exported="false">
        </activity>


        <!-- Note Sharing -->
        <activity
            android:name=".FileSharing.NoteSharingDashboardActivity"
            android:exported="false"
            android:parentActivityName=".Narciso.CourseDetailActivity"/>

        <!-- Group Note Sharing -->
        <activity
            android:name=".GroupFileSharing.GroupNoteSharingDashboard"
            android:exported="false"
            android:parentActivityName=".GroupProject.GroupProjectDashboardActivity"/>

        <!-- Student Partner Matching -->
        <activity
            android:name=".Rao.spmatching"
            android:exported="false"
            tools:ignore="DuplicateActivity">
        </activity>

        <activity
            android:name=".GroupProject.GroupProjectDashboardActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".Deadlines.DeadlinesActivity"
            android:exported="false"/>

        <!-- Notifications -->
        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Notifications -->
        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Notifications -->
        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Notifications -->
        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>
