<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/edkura"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/edkura"
        android:supportsRtl="true"
        android:theme="@style/Theme.EdKura"
        tools:targetApi="31">

        <!-- MainActivity -->
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.SignupActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".Jiankai.ProfileActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:exported="true">
        </activity>

        <!-- DashboardActivity -->
        <activity
            android:name=".Jiankai.classManagement"
            android:exported="true">
        </activity>
        <!-- LoginActivity -->
        <activity
            android:name=".Narciso.CourseDetailActivity"
            android:exported="false">
        </activity>

        <!-- Chat -->
        <activity
                android:name=".chat.ChatActivity"
                android:exported="false">
        </activity>

        <!-- Student Partner Matching -->
        <activity
            android:name=".Rao.spmatching"
            android:exported="false">
        </activity>
        <activity
            android:name=".Narciso.NoteSharingDashboardActivity"
            android:exported="false"
            android:parentActivityName=".Narciso.CourseDetailActivity"/>

    </application>

</manifest>
